.container {
  margin: auto;
  width: 50%;
  border: 1px solid #eb1d36;
  background-color: #fa9494;
  padding: 10px;
}

.add-btn {
  float: right;
  background-color: #fa9494;
  color: #f5eddc;
}

.list-items {
  margin: "20 px";
  border: "1px solid #FA9494";
  background-color: "#CFD2CF";
  color: "#F5EDDC";
  padding: "10px";
}

h1 {
  color: #f5eddc;
  text-align: center;
}
